<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor de SEO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="chat-container">
        <!-- Título do chat -->
        <div class="chat-header">
            <h1>Mentor de SEO - By Ewerton</h1>
            <form method="post" action="/limpar" id="limpar-form">
                <button type="submit" class="button"><i class="fas fa-trash"></i> Limpar</button>
            </form>
        </div>

        <!-- Histórico de chat -->
        <div class="chat-history" id="chat-container">
            {% if session.get('historico') %}
            {% for mensagem in session['historico'] %}
            <div class="message {% if mensagem['tipo'] == 'user' %}user-message{% else %}system-message{% endif %}">
                <p class="message-title">{% if mensagem['tipo'] == 'user' %}Usuário{% else %}Sistema{% endif %}</p>
                <p>{{ mensagem['conteudo']|safe }}</p>
                <span class="timestamp">{{ mensagem['timestamp'] }}</span>
            </div>
            {% endfor %}
            {% else %}
            <div class="message system-message">
                <p class="message-title">Sistema</p>
                <p>Inicie a conversa fazendo uma pergunta.</p>
                <span class="timestamp">{{ timestamp }}</span>
            </div>
            {% endif %}
        </div>

        <!-- Barra de envio de mensagem -->
        <div class="chat-input">
            <form id="chat-form">
                <textarea id="pergunta" name="pergunta" placeholder="Digite sua mensagem..." required></textarea>
                <button type="submit" class="button"><i class="fas fa-paper-plane"></i> Enviar</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>

</html>